//HEADER
.navbar-inverse .navbar-brand img {
  width: 250px;
}

//MAIN CONTENT
#analyzing-content1 {
  padding-top: 0;
  margin-top: 20px;

  .analyzing-title {
    padding: 10px 0 10px 0;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .video-poster {
    margin: 35px 0 50px 0;
  }

  .color-bg-violet {
    margin-bottom: 40px;

    h2 {

      @media (max-width: 768px) {
        font-size: 16px !important;
        margin: 10px 0;
      }

      span {
        @media (max-width: 768px) {
          padding-right: 0;
        }
      }
    }
  }
}

//VIDEO POPUP
#myModal {
  .modal-dialog {
    .modal-content{
      background-color: rgba(0, 0, 0, 0);
      border: 0;

      @media (min-width: 768px) {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      .modal-header {
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0);

        .close {
          position: absolute;
          right: 70px;
          top: 23px;
          float: none;
          color: #ffffff;
          opacity: .8;
          z-index: 1;
        }
      }
      .modal-footer {
        border-top: 1px solid rgba(0, 0, 0, 0);
      }
    }
  }
}

//MAIN CONTENT 2
#analyzing-content2 {
  padding-top: 50px;
  padding-bottom: 30px;
  .border-bottom {
    img {
      padding: 30px 0;
    }
  }
  .border-bottom {
    .analyzing-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 300px;
    }
  }

  .analyzing-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 280px;
  }
}

//MAIN CONTENT 3
#analyzing-content3 {
  padding-top: 50px;
}

//MAIN CONTENT 7
#analyzing-content7 {
  padding-top: 30px;
  padding-bottom: 40px;

  h1.text-center {
    margin-bottom: 25px;
  }

  .owl-carousel {
    h2.text-center {
      margin-top: 25px;
    }
  }
}

//MAIN CONTENT 5
#analyzing-content5 {
  padding-top: 30px;
  padding-bottom: 40px;

  h1.text-center {
    margin-bottom: 30px;
  }
  .content-img-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
  }
}