//HEADER
.navbar-inverse .navbar-brand img {
  width: 250px;
}

//MAIN CONTENT1
#credit-content1 {
  .credit-advantages {
    h2 {
      span {
        margin-right: 25px;

        img {
          width: 50px;
        }
      }
    }
  }
}

//MAIN CONTENT 3
.box-content-shadow {
  padding-top: 30px;

  h3 {
    margin-top: 20px;
  }
}