//HEADER
.navbar-inverse .navbar-brand img {
  width: 250px;
}

//MAIN CONTENT1
#credit-content1 {
  .credit-advantages {
    h2 {
      span {
        margin-right: 25px;

        img {
          width: 50px;
        }
      }
    }
  }
}

//MAIN CONTENT 3
.box-content-shadow {
  padding-top: 30px;

  h3 {
    margin-top: 20px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.credit-form-wrapper {
  display: flex;
  form {
    position: relative;
    width: 970px;
    height: 590px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 1020px) {
      width: 700px;
    }
    @media (max-width: 767px) {
      width: 320px;
    }
    .card-back-side {
      position: absolute;
      top: 0;
      left: 270px;
      width: 700px;
      height: 450px;
      background-color: #00b8e1;
      border: 10px solid #1354a1;
      border-radius: 40px;
      @media (max-width: 1020px) {
        top: 155px;
        left: 30px;
        width: 670px;
      }
      @media (max-width: 767px) {
        width: 320px;
        height: 255px;
        top: 110px;
      }
      .card-back-title {
        width: 100%;
        height: 110px;
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: 700;
        @media (max-width: 767px) {
          height: 50px;
        }
        p {
          color: #ffffff;
          text-align: right;
          padding: 40px  0;
          margin: 0 40px;
        }
      }
      .card-back-line {
        width: 100%;
        height: 110px;
        background-color: #5c4f5c;
        @media (max-width: 767px) {
          height: 60px;
        }

      }
      .card-back-data {
        display: flex;
        flex-direction: column;
        height: 147px;
        align-items: flex-end;
        justify-content: center;
        margin-top: 35px;
        padding-right: 35px;
        @media (max-width: 767px) {
          height: 40px;
        }
        label {
          color: #A2E5F4;
          font-family: 'Montserrat', sans-serif;
          font-size: 26px;
          font-weight: 700;
          padding-right: 140px;
          margin: 0;
          @media (max-width: 767px) {
            padding-right: 40px;
            font-size: 18px !important;
          }
        }
        input {
          color: #ffffff;
          background-color: rgba(0, 0, 0, 0);
          width: 30%;
          font-family: 'Montserrat', sans-serif;
          font-size: 26px;
          font-weight: 700;
          border-left: none;
          border-right: none;
          border-top: none;
          outline:none;
          @media (max-width: 767px) {
            height: 30px;
          }
        }
      }
    }
    .card-front-side {
      position: absolute;
      top: 90px;
      left: 0;
      width: 700px;
      height: 450px;
      background-color: #00b8e1;
      border: 10px solid #1354a0;
      border-radius: 40px;
      @media (max-width: 1020px) {
        top: 0;
        width: 670px;
      }
      @media (max-width: 767px) {
        width: 320px;
        height: 255px;
      }
      .card-front-logo {
        height: 70px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 45px;
        margin-right: 30px;
        @media (max-width: 767px) {
          margin-top: 10px;
        }
        img {
          width: auto;
          height: 50px;
          margin: 0 15px 0 10px;
          @media (max-width: 767px) {
            height: 25px!important;
          }
        }
      }
      .card-front-chip {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;
        margin-right: 30px;
        height: 80px;
        @media (max-width: 767px) {
          display: none;
        }
        img {
          width: auto;
          height: 90px;
          margin-top: 30px;
          margin-right: 15px;
        }
      }
      .card-front-number {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 15px;
        label {
          color: #A2E5F4;
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
          font-weight: 700;
          margin: 0;
          @media (max-width: 767px) {
            font-size: 18px;
          }
        }
        input {
          width: 100%;
          height: 50px;
          background-color: rgba(0, 0, 0, 0);
          border-left: none;
          border-top: none;
          border-right: none;
          outline: none;
          color: #ffffff;
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
          font-weight: 700;
          @media (max-width: 767px) {
            height: 30px;
          }
        }
      }
      .card-front-info {
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 30px;
        .card-info-name {
          width: 60%;
          label {
            color: #A2E5F4;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 700;
            margin: 0;
            @media (max-width: 767px) {
              font-size: 18px !important;
            }
          }
          input {
            width: 100%;
            height: 50px;
            background-color: rgba(0, 0, 0, 0);
            border-left: none;
            border-top: none;
            border-right: none;
            outline: none;
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 700;
            @media (max-width: 767px) {
              height: 30px;
            }
          }
        }
        .card-info-date {
          width: 30%;
          label {
            color: #A2E5F4;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 700;
            margin: 0;
            @media (max-width: 767px) {
              font-size: 18px !important;
            }

          }
          input {
            width: 100%;
            height: 50px;
            background-color: rgba(0, 0, 0, 0);
            border-left: none;
            border-top: none;
            border-right: none;
            outline: none;
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 700;
            @media (max-width: 767px) {
              height: 30px;
            }
          }
        }
      }
    }
  }
}