//HEADER
.navbar-inverse .navbar-brand img {
  width: 250px;

  @media (max-width: 767px) {
    width: 200px;
    margin-left: 15px;
  }
}

//.mar-bt-30 {
//  margin-bottom: 30px;
//}

//MAIN COTENT
#loginPage-content {
  p.login-headline {
   @media (max-width: 767px) {
     font-size: 26px !important;
     line-height: 36px;
   }
  }

  .content-img-holder {
    padding-top: 40px;

    @media (max-width: 767px) {
      height: 150px;
      padding-top: 20px;
    }

    img {
      @media (max-width: 767px) {
        width: auto;
        height: 60px;
        margin-bottom: 10px;
      }
    }

    p {
      @media (max-width: 767px) {
        font-size: 20px !important;
        line-height: 23px;
      }
    }
  }

  .free-space {
    width: 100%;
    height: 1px;
    margin-top: 30px;

    @media (max-width: 767px) {
      margin-top: 10px;
    }
  }

  .content-btn {

    @media (max-width: 767px) {
      font-size: 11px;
    }
  }
}

//video popup
#loginPage-content {
  #myModal {
    .modal-dialog {
      .modal-content{
        background-color: rgba(0, 0, 0, 0);
        border: 0;

        @media (min-width: 768px) {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
        .modal-header {
          position: relative;
          border-bottom: 1px solid rgba(0, 0, 0, 0);

          .close {
            position: absolute;
            right: 70px;
            top: 23px;
            float: none;
            color: #ffffff;
            opacity: .8;
            z-index: 1;
          }
        }
        .modal-footer {
          border-top: 1px solid rgba(0, 0, 0, 0);
        }
      }
    }
  }
}

footer {
  margin-top: 30px;

  h4 {
    @media (max-width: 767px) {
      font-size: 15px;
    }
  }
}