//header
.navbar-inverse .navbar-brand img {
  width: 250px;

  @media (max-width: 767px) {
    width: 200px;
    margin-left: 15px;
  }
}

//MAIN CONTENT 1
#sandwich-content1 {
  padding-top: 0;
  padding-bottom: 25px;

  @media (max-width: 767px) {
    padding-top: 0;
  }

  p.sandwich-headline {
    margin: 40px 0 40px 0;

    @media (max-width: 767px) {
      margin: 10px 0;
    }

    span {
      img {
        @media (max-width: 767px) {
          display: block;
          margin: auto;
        }
      }
    }
    span#star {
      @media (max-width: 767px) {
        font-size: 26px !important;
        line-height: 36px;
        margin: 10px 0;
      }
    }
  }

  p.sandwich-headline2 {
    margin-bottom: 30px;
    line-height: 44px;

    @media (max-width: 767px) {
      font-size: 18px !important;
      line-height: 30px;
      margin: 10px 0;
    }
  }
}
.img-position {
  margin: 0 40px 0 0 !important;
}
//MAIN CONTENT 2
#sandwich-content2 {
  padding-top: 55px;
  padding-bottom: 10px;
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }

  @media (max-width: 767px) {
    padding-top: 0;
  }
  p.sandwich-headline {
    margin-bottom: 70px;

    @media (max-width: 767px) {
      font-size: 26px !important;
      line-height: 36px;
      margin: 20px 0 0 0;
    }

    span {
      img {
        @media (max-width: 767px) {
          display: block;
          margin: auto;
          width: 20%;
          margin: 20px auto !important;
        }
      }
    }
  }

  h4 {
    display: flex;
    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    span {
      img {
        @media (max-width: 767px) {
          margin-left: 50px;
        }
      }
    }
    .flex-wrp {
      display: flex;
      font-size: 24px !important;
      @media (max-width: 767px) {
        font-size: 18px!important;
      }
      strong {
      }
      i {
        font-size: 20px !important;
        @media (max-width: 767px) {
          font-size: 16px!important;
        }
      }
    }
  }

  h3{
    margin: 0;
    font-family: 'Gotham-Bold';
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    margin-top: -35px;
    margin-bottom: 40px;


    @media (max-width: 767px) {
      margin: 10px 0;
      font-size: 18px !important;
      line-height: 30px;
      padding: 0;
    }
  }

  .comment1 {
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
  .girl-comment {
    padding: 70px 0 30px;
    font-size: 24px !important;
    @media (max-width: 767px) {
      padding: 0 0 30px 0;
    }
    h4 {
      span {
        img {
        }
      }
      strong {
        font-size: 24px !important;
        @media (max-width: 767px) {
          font-size: 18px!important;
        }
      }
      i {
        font-size: 20px !important;
        @media (max-width: 767px) {
          font-size: 16px!important;
        }
      }
    }
  }
  .comment3 {
    margin-top: 50px;
    @media (max-width: 767px) {
      margin-top: 20px;
    }
    h4 {
      span {
        img {
          @media (max-width: 767px) {
            margin: 30px auto !important;
          }
        }
      }
      .flex-wrp {
        strong {
          @media (max-width: 767px) {
            font-size: 18px!important;
          }
        }
        i {
          @media (max-width: 767px) {
            font-size: 16px!important;
          }
        }
      }
    }
  }

  .lane-w {
    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
  }
}

//MAIN CONTENT 3
#sandwich-content3 {
  padding-top: 35px;
  padding-bottom: 25px;
  @media (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .content-btn {
    margin:  20px 0;
    padding: 15px 0;
    border-radius: 50px;

    @media (max-width: 767px) {
      margin: 20px 10px;
    }

    h2 {
      font-size: 36px;
      @media (max-width: 767px) {
        font-size: 15px;
        margin: 0;
      }
      span {
        img {
          @media (max-width: 767px) {
            width: 20px;
          }
        }
      }
    }
  }
}
footer {
  #sandwich-footer {
    h4.text-center {
      a {
        @media (max-width: 767px) {
          font-size: 15px !important;
        }
      }
    }
  }
}