//HEADER
.navbar-inverse .navbar-brand img {
  width: 250px;
}

//MAIN CONTENT
#abtesting-content1 {
  padding-top: 50px;
}

//VIDEO POPUP
#myModal {
  .modal-dialog {
    .modal-content {
      background-color: rgba(0, 0, 0, 0);
      border: 0;

      @media (min-width: 768px) {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      .modal-header {
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0);

        .close {
          position: absolute;
          right: 70px;
          top: 23px;
          float: none;
          color: #ffffff;
          opacity: .8;
          z-index: 1;
        }
      }
      .modal-footer {
        border-top: 1px solid rgba(0, 0, 0, 0);

      }
    }
  }
}
