.navbar-inverse .navbar-brand img {
  width: 250px; }

#analyzing-content1 {
  padding-top: 0;
  margin-top: 20px; }
  #analyzing-content1 .analyzing-title {
    padding: 10px 0 10px 0; }
  #analyzing-content1 h3 {
    margin-top: 0;
    margin-bottom: 20px; }
  #analyzing-content1 .video-poster {
    margin: 35px 0 50px 0; }
  #analyzing-content1 .color-bg-violet {
    margin-bottom: 40px; }
    @media (max-width: 768px) {
      #analyzing-content1 .color-bg-violet h2 {
        font-size: 16px !important;
        margin: 10px 0; } }
    @media (max-width: 768px) {
      #analyzing-content1 .color-bg-violet h2 span {
        padding-right: 0; } }

#myModal .modal-dialog .modal-content {
  background-color: transparent;
  border: 0; }
  @media (min-width: 768px) {
    #myModal .modal-dialog .modal-content {
      -webkit-box-shadow: none;
      box-shadow: none; } }
  #myModal .modal-dialog .modal-content .modal-header {
    position: relative;
    border-bottom: 1px solid transparent; }
    #myModal .modal-dialog .modal-content .modal-header .close {
      position: absolute;
      right: 70px;
      top: 23px;
      float: none;
      color: #ffffff;
      opacity: .8;
      z-index: 1; }
  #myModal .modal-dialog .modal-content .modal-footer {
    border-top: 1px solid transparent; }

#analyzing-content2 {
  padding-top: 50px;
  padding-bottom: 30px; }
  #analyzing-content2 .border-bottom img {
    padding: 30px 0; }
  #analyzing-content2 .border-bottom .analyzing-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px; }
  #analyzing-content2 .analyzing-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 280px; }

#analyzing-content3 {
  padding-top: 50px; }

#analyzing-content7 {
  padding-top: 30px;
  padding-bottom: 40px; }
  #analyzing-content7 h1.text-center {
    margin-bottom: 25px; }
  #analyzing-content7 .owl-carousel h2.text-center {
    margin-top: 25px; }

#analyzing-content5 {
  padding-top: 30px;
  padding-bottom: 40px; }
  #analyzing-content5 h1.text-center {
    margin-bottom: 30px; }
  #analyzing-content5 .content-img-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px; }
