.navbar-inverse .navbar-brand img {
  width: 250px; }

#credit-content1 .credit-advantages h2 span {
  margin-right: 25px; }
  #credit-content1 .credit-advantages h2 span img {
    width: 50px; }

.box-content-shadow {
  padding-top: 30px; }
  .box-content-shadow h3 {
    margin-top: 20px; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

.credit-form-wrapper {
  display: flex; }
  .credit-form-wrapper form {
    position: relative;
    width: 790px;
    height: 600px;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 805px) {
      .credit-form-wrapper form {
        width: 580px; } }
    @media (max-width: 600px) {
      .credit-form-wrapper form {
        width: 430px; } }
    .credit-form-wrapper form .card-back-side {
      position: absolute;
      top: 0;
      left: 240px;
      width: 550px;
      height: 350px;
      background-color: #00b8e1;
      border: 10px solid #1354a0;
      border-radius: 20px; }
      @media (max-width: 805px) {
        .credit-form-wrapper form .card-back-side {
          width: 550px;
          height: 320px;
          top: 145px;
          left: 30px; } }
      @media (max-width: 600px) {
        .credit-form-wrapper form .card-back-side {
          width: 400px; } }
      .credit-form-wrapper form .card-back-side .card-back-title {
        width: 100%;
        height: 65px;
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: 700; }
        .credit-form-wrapper form .card-back-side .card-back-title p {
          color: #ffffff;
          text-align: right;
          padding: 15px  0;
          margin: 0 40px; }
      .credit-form-wrapper form .card-back-side .card-back-line {
        width: 100%;
        height: 80px;
        background-color: #5c4f5c; }
      .credit-form-wrapper form .card-back-side .card-back-data {
        display: flex;
        flex-direction: column;
        height: 147px;
        align-items: flex-end;
        justify-content: center;
        margin-top: 20px;
        padding-right: 60px; }
        .credit-form-wrapper form .card-back-side .card-back-data label {
          color: #A2E5F4;
          font-family: 'Montserrat', sans-serif;
          font-size: 26px;
          font-weight: 700;
          padding-right: 50px;
          margin: 0; }
        .credit-form-wrapper form .card-back-side .card-back-data input {
          color: #ffffff;
          background-color: transparent;
          width: 30%;
          font-family: 'Montserrat', sans-serif;
          font-size: 26px;
          font-weight: 700;
          border-left: none;
          border-right: none;
          border-top: none;
          outline: none; }
    .credit-form-wrapper form .card-front-side {
      position: absolute;
      top: 50px;
      left: 0;
      width: 550px;
      height: 350px;
      background-color: #00b8e1;
      border: 10px solid #1354a0;
      border-radius: 20px; }
      @media (max-width: 805px) {
        .credit-form-wrapper form .card-front-side {
          width: 550px;
          top: 0; } }
      @media (max-width: 600px) {
        .credit-form-wrapper form .card-front-side {
          width: 400px; } }
      .credit-form-wrapper form .card-front-side .card-front-logo {
        height: 70px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 28px;
        margin-right: 30px; }
        .credit-form-wrapper form .card-front-side .card-front-logo img {
          width: auto;
          height: 80px; }
      .credit-form-wrapper form .card-front-side .card-front-chip {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;
        margin-right: 30px;
        height: 80px; }
        .credit-form-wrapper form .card-front-side .card-front-chip img {
          width: auto;
          height: 90px; }
      .credit-form-wrapper form .card-front-side .card-front-number {
        display: flex;
        flex-direction: column;
        margin-top: -30px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 15px; }
        .credit-form-wrapper form .card-front-side .card-front-number label {
          color: #A2E5F4;
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
          font-weight: 700;
          margin: 0; }
        .credit-form-wrapper form .card-front-side .card-front-number input {
          width: 100%;
          background-color: transparent;
          border-left: none;
          border-top: none;
          border-right: none;
          outline: none;
          color: #ffffff;
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
          font-weight: 700; }
      .credit-form-wrapper form .card-front-side .card-front-info {
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 30px; }
        .credit-form-wrapper form .card-front-side .card-front-info .card-info-name {
          width: 60%; }
          .credit-form-wrapper form .card-front-side .card-front-info .card-info-name label {
            color: #A2E5F4;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 700;
            margin: 0; }
          .credit-form-wrapper form .card-front-side .card-front-info .card-info-name input {
            width: 100%;
            background-color: transparent;
            border-left: none;
            border-top: none;
            border-right: none;
            outline: none;
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 700; }
        .credit-form-wrapper form .card-front-side .card-front-info .card-info-date {
          width: 30%; }
          .credit-form-wrapper form .card-front-side .card-front-info .card-info-date label {
            color: #A2E5F4;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 700;
            margin: 0; }
          .credit-form-wrapper form .card-front-side .card-front-info .card-info-date input {
            width: 100%;
            background-color: transparent;
            border-left: none;
            border-top: none;
            border-right: none;
            outline: none;
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 700; }
