.navbar-inverse .navbar-brand img {
  width: 250px; }

#credit-content1 .credit-advantages h2 span {
  margin-right: 25px; }
  #credit-content1 .credit-advantages h2 span img {
    width: 50px; }

.box-content-shadow {
  padding-top: 30px; }
  .box-content-shadow h3 {
    margin-top: 20px; }
