.navbar-inverse .navbar-brand img {
  width: 250px; }
  @media (max-width: 767px) {
    .navbar-inverse .navbar-brand img {
      width: 200px;
      margin-left: 15px; } }

#loginPage-content {
  padding-bottom: 60px; }
  @media (max-width: 767px) {
    #loginPage-content {
      padding-bottom: 40px; } }
  #loginPage-content .main-title-wrapper {
    padding-top: 35px;
    margin-bottom: 50px; }
    @media (max-width: 767px) {
      #loginPage-content .main-title-wrapper {
        padding-top: 0;
        margin-bottom: 0px; } }
    @media (max-width: 767px) {
      #loginPage-content .main-title-wrapper .login-headline {
        font-size: 26px !important;
        line-height: 36px; } }
  #loginPage-content a:hover {
    text-decoration: none; }
  #loginPage-content a .content-img-holder {
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-bottom: 50px; }
    @media (max-width: 767px) {
      #loginPage-content a .content-img-holder {
        margin-bottom: 20px; } }
    #loginPage-content a .content-img-holder:active {
      top: 5px; }
    #loginPage-content a .content-img-holder:hover {
      box-shadow: 2px 0px 3px #979797;
      z-index: 2;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1.05);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1.05);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1.05);
      transition: all 200ms ease-in;
      transform: scale(1.05); }
    @media (max-width: 767px) {
      #loginPage-content a .content-img-holder {
        justify-content: center;
        height: 150px;
        padding-top: 20px;
        padding-bottom: 0; } }
    #loginPage-content a .content-img-holder img {
      width: 180px;
      height: auto;
      margin-bottom: 20px; }
      @media (max-width: 767px) {
        #loginPage-content a .content-img-holder img {
          width: auto;
          height: 60px;
          margin-bottom: 10px; } }
    @media (max-width: 767px) {
      #loginPage-content a .content-img-holder p {
        font-size: 20px !important; } }
  @media (max-width: 767px) {
    #loginPage-content .content-btn {
      margin-top: 20px;
      font-size: 13px !important; } }
  @media (max-width: 767px) {
    #loginPage-content .content-btn span img {
      width: 25px; } }

#myModal .modal-dialog .modal-content {
  background-color: transparent;
  border: 0; }
  @media (min-width: 768px) {
    #myModal .modal-dialog .modal-content {
      -webkit-box-shadow: none;
      box-shadow: none; } }
  #myModal .modal-dialog .modal-content .modal-header {
    position: relative;
    border-bottom: 1px solid transparent; }
    #myModal .modal-dialog .modal-content .modal-header .close {
      position: absolute;
      right: 70px;
      top: 23px;
      float: none;
      color: #ffffff;
      opacity: .8;
      z-index: 1; }
  #myModal .modal-dialog .modal-content .modal-footer {
    border-top: 1px solid transparent; }

footer #loginPage-footer .main-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  footer #loginPage-footer .main-footer a {
    text-decoration: none; }
    footer #loginPage-footer .main-footer a h4 {
      margin: 15px 35px; }
      @media (max-width: 767px) {
        footer #loginPage-footer .main-footer a h4 {
          margin: 15px;
          font-size: 16px !important; } }
