.mar-b-40 {
  margin-bottom: 20px; }

.pad-t-50 {
  padding-top: 50px !important; }
  @media (max-width: 768px) {
    .pad-t-50 {
      padding-top: 0 !important; } }

.img-1-2 {
  margin-bottom: 43px !important; }
  @media (max-width: 768px) {
    .img-1-2 {
      margin-bottom: 0 !important; } }

.img-1-3 {
  padding-top: 56px !important;
  margin-bottom: 5px; }
  @media (max-width: 768px) {
    .img-1-3 {
      margin-bottom: 0 !important;
      padding-top: 0 !important; } }

.img-2-2 {
  margin-bottom: 49px !important; }
  @media (max-width: 768px) {
    .img-2-2 {
      margin-bottom: 0 !important; } }

.img-2-3 {
  margin-top: 32px !important; }
  @media (max-width: 768px) {
    .img-2-3 {
      margin-bottom: 0 !important;
      margin-top: 0 !important; } }

.img-3-2 {
  margin-bottom: 52px !important; }
  @media (max-width: 768px) {
    .img-3-2 {
      margin-bottom: 0 !important; } }

.img-3-3 {
  margin-bottom: 68px !important; }
  @media (max-width: 768px) {
    .img-3-3 {
      margin-bottom: 0 !important; } }

.img-c2 {
  margin-top: 72px !important; }
  @media (max-width: 768px) {
    .img-c2 {
      margin-bottom: 0 !important; } }

.img-responsive {
  margin-bottom: 0 !important; }

.img {
  padding-top: 82px !important; }

.navbar-inverse .navbar-brand img {
  width: 250px; }
  @media (max-width: 767px) {
    .navbar-inverse .navbar-brand img {
      width: 200px;
      margin-left: 15px; } }

#pricing-content1 {
  padding-top: 75px;
  padding-bottom: 55px; }
  @media (max-width: 768px) {
    #pricing-content1 {
      padding-top: 0; } }
  #pricing-content1 p.pricing-headline {
    margin: 0 0 85px 0;
    font-size: 58px;
    line-height: 60px; }
    @media (max-width: 768px) {
      #pricing-content1 p.pricing-headline {
        margin: 10px 0;
        font-size: 26px !important;
        line-height: 36px; } }
  #pricing-content1 .marginTop {
    margin-top: 0; }
  #pricing-content1 p {
    margin-bottom: 55px; }
    @media (max-width: 768px) {
      #pricing-content1 p {
        margin-bottom: 20px; } }
    #pricing-content1 p img {
      width: auto;
      height: 175px; }
      @media (max-width: 768px) {
        #pricing-content1 p img {
          width: 100px;
          height: auto; } }
  #pricing-content1 p.pricing-headline-2 {
    font-size: 60px !important;
    margin: 25px 0 40px 0; }
    @media (max-width: 768px) {
      #pricing-content1 p.pricing-headline-2 {
        margin: 10px 0;
        font-size: 22px !important;
        line-height: 36px; } }
  #pricing-content1 h2 {
    margin: 25px 0 55px 0;
    font-size: 46px; }
    @media (max-width: 768px) {
      #pricing-content1 h2 {
        margin: 10px 0;
        font-size: 22px;
        line-height: 36px; } }
  #pricing-content1 p.pricing-headline-3 {
    margin: 25px 0 65px 0;
    font-size: 64px; }
    @media (max-width: 768px) {
      #pricing-content1 p.pricing-headline-3 {
        margin: 10px 0;
        font-size: 22px;
        line-height: 36px; } }
  #pricing-content1 .pricing-content1-wrapper {
    margin-bottom: 50px; }
    @media (max-width: 768px) {
      #pricing-content1 .pricing-content1-wrapper {
        margin-bottom: 0; } }
    @media (max-width: 768px) {
      #pricing-content1 .pricing-content1-wrapper ul.text-left {
        margin-bottom: 25px; } }
    #pricing-content1 .pricing-content1-wrapper ul.text-left li h4 {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: 18px !important; }
      @media (max-width: 768px) {
        #pricing-content1 .pricing-content1-wrapper ul.text-left li h4 {
          margin-bottom: 0; } }
  #pricing-content1 .content-btn {
    border-radius: 43px; }
    #pricing-content1 .content-btn h2 {
      font-size: 36px !important; }
      @media (max-width: 768px) {
        #pricing-content1 .content-btn h2 {
          font-size: 14px !important;
          line-height: 1px;
          margin: 0 0 15px 0; } }
      @media (max-width: 768px) {
        #pricing-content1 .content-btn h2 span {
          padding-right: 0; } }
      @media (max-width: 768px) {
        #pricing-content1 .content-btn h2 span img {
          margin-top: 10px; } }

#pricing-content2 {
  padding-top: 65px;
  padding-bottom: 50px; }
  @media (max-width: 768px) {
    #pricing-content2 {
      padding-top: 0; } }
  #pricing-content2 p.pricing-headline {
    margin-bottom: 40px; }
    @media (max-width: 768px) {
      #pricing-content2 p.pricing-headline {
        margin: 10px 0;
        font-size: 26px !important;
        line-height: 36px; } }
  #pricing-content2 h3.pricing-cnt1-campaing {
    margin-bottom: 55px; }
    @media (max-width: 768px) {
      #pricing-content2 h3.pricing-cnt1-campaing {
        margin: 10px 0;
        font-size: 18px;
        line-height: 30px; } }
  #pricing-content2 .pricing-tools {
    margin-bottom: 50px; }
  #pricing-content2 h1 {
    font-size: 46px !important;
    margin-bottom: 35px; }
    @media (max-width: 768px) {
      #pricing-content2 h1 {
        margin: 20px 0 10px 0;
        font-size: 18px !important;
        line-height: 30px; } }
  #pricing-content2 h3.pricing-software {
    margin-bottom: 20px; }
  #pricing-content2 h2 {
    font-size: 40px; }
    @media (max-width: 768px) {
      #pricing-content2 h2 {
        font-size: 26px !important;
        line-height: 36px;
        margin-top: 0; } }
  #pricing-content2 h3 {
    font-size: 18px !important; }
    @media (max-width: 768px) {
      #pricing-content2 h3 {
        line-height: 30px; } }
  #pricing-content2 a h4 b {
    font-size: 18px !important;
    line-height: 25px; }
  #pricing-content2 .pricing-img-wrapper {
    margin: 45px auto; }
    #pricing-content2 .pricing-img-wrapper img {
      margin: 0 auto; }
      @media (max-width: 768px) {
        #pricing-content2 .pricing-img-wrapper img {
          width: 110px;
          height: auto; } }
  #pricing-content2 .mar-b-30 {
    margin-bottom: 30px; }
    @media (max-width: 768px) {
      #pricing-content2 .mar-b-30 {
        margin: 0; } }
  #pricing-content2 .pricing-cnt2-advantage h1 {
    margin-top: 50px; }
    @media (max-width: 768px) {
      #pricing-content2 .pricing-cnt2-advantage h1 {
        font-size: 26px !important;
        line-height: 36px !important; } }
  #pricing-content2 .pricing-cnt2-advantage h3.pricing-software {
    margin-bottom: 35px; }

#pricing-content3 {
  padding-top: 60px;
  padding-bottom: 30px; }
  @media (max-width: 768px) {
    #pricing-content3 {
      padding-bottom: 0; } }
  #pricing-content3 .pricing-cht3-title {
    margin-bottom: 60px; }
    #pricing-content3 .pricing-cht3-title h1.text-center {
      margin: 0 0 20px 0; }
      @media (max-width: 768px) {
        #pricing-content3 .pricing-cht3-title h1.text-center {
          margin: 10px 0;
          font-size: 26px !important;
          line-height: 36px; } }
  #pricing-content3 .border-bottom {
    margin-top: 0px; }
  #pricing-content3 .pricing-wrapper {
    height: 480px; }
    @media (max-width: 768px) {
      #pricing-content3 .pricing-wrapper {
        height: 360px; } }
  #pricing-content3 img.img-responsive {
    padding-top: 110px;
    margin-bottom: 55px;
    width: auto;
    height: auto; }
    @media (max-width: 768px) {
      #pricing-content3 img.img-responsive {
        padding-top: 0;
        height: 100px;
        width: auto; } }
  #pricing-content3 h3.text-center {
    margin-bottom: 20px; }
  @media (max-width: 768px) {
    #pricing-content3 {
      padding-top: 20px; } }
  @media (max-width: 768px) {
    #pricing-content3 p.abtesting-headline {
      font-size: 26px !important; } }
  @media (max-width: 768px) {
    #pricing-content3 p.abtesting-headline span #features-img {
      width: 40px !important; } }
  #pricing-content3 .testing-property {
    padding-top: 20px; }
  #pricing-content3 .free-space {
    margin-bottom: 40px; }

#pricing-content4 {
  padding-top: 80px;
  padding-bottom: 65px;
  box-shadow: 0px 1px 7px 3px #bbb;
  margin-bottom: 15px; }
  @media (max-width: 768px) {
    #pricing-content4 {
      padding-top: 0;
      padding-bottom: 30px; } }
  #pricing-content4 h1.text-center {
    margin-top: 0;
    margin-bottom: 40px; }
    @media (max-width: 768px) {
      #pricing-content4 h1.text-center {
        margin: 10px 0;
        font-size: 26px !important;
        line-height: 36px; } }
  @media (max-width: 768px) {
    #pricing-content4 .owl-carousel .item p img {
      width: 20%; } }
  #pricing-content4 .owl-carousel .item h2.text-center {
    color: #444a54;
    font-family: "Raleway-SemiBold";
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 45px; }
    @media (max-width: 768px) {
      #pricing-content4 .owl-carousel .item h2.text-center {
        margin: 10px 0;
        font-size: 16px !important;
        line-height: 1.2; } }
  #pricing-content4 .owl-carousel .pricing-girl {
    margin-top: 10px; }
  #pricing-content4 .content-btn {
    margin-top: 45px;
    border-radius: 45px; }
    @media (max-width: 768px) {
      #pricing-content4 .content-btn {
        padding: 5px 0 7px;
        margin-top: 20px; } }
    #pricing-content4 .content-btn h2 {
      font-size: 36px;
      line-height: 44px;
      padding: 10px; }
      @media (max-width: 768px) {
        #pricing-content4 .content-btn h2 {
          font-size: 14px;
          line-height: 2px;
          padding: 0; } }
      #pricing-content4 .content-btn h2 span {
        padding-right: 0; }
        @media (max-width: 768px) {
          #pricing-content4 .content-btn h2 span img {
            width: 25px; } }

@media (max-width: 768px) {
  .cecilia p img {
    width: 50px !important;
    margin-top: 20px !important; } }

@media (max-width: 768px) {
  .cecilia h4 {
    font-size: 16px !important;
    line-height: 1 !important;
    margin-top: 20px; } }

@media (max-width: 768px) {
  .cecilia h5 {
    font-size: 16px !important;
    line-height: 16px;
    margin-top: 20px; } }

.img-face {
  width: 100px;
  margin-top: 10px; }

#pricing-footer .footer-wrapper {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  #pricing-footer .footer-wrapper .footer-menu {
    width: 60%; }
    @media (max-width: 767px) {
      #pricing-footer .footer-wrapper .footer-menu {
        width: 100%; } }
    #pricing-footer .footer-wrapper .footer-menu ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      padding: 0; }
      @media (max-width: 767px) {
        #pricing-footer .footer-wrapper .footer-menu ul {
          width: 100%;
          justify-content: space-around; } }
      #pricing-footer .footer-wrapper .footer-menu ul li {
        margin-top: 20px; }
        @media (max-width: 767px) {
          #pricing-footer .footer-wrapper .footer-menu ul li {
            margin-top: 0; } }
        #pricing-footer .footer-wrapper .footer-menu ul li a {
          color: #555555;
          text-decoration: none;
          font-size: 22px;
          line-height: 27px; }
          @media (max-width: 767px) {
            #pricing-footer .footer-wrapper .footer-menu ul li a {
              font-size: 12px;
              margin-top: 0; } }
  #pricing-footer .footer-wrapper .footer-social {
    display: flex;
    width: 30%;
    justify-content: space-between; }
    @media (max-width: 767px) {
      #pricing-footer .footer-wrapper .footer-social {
        width: 100%;
        justify-content: space-around;
        margin-bottom: 15px; } }

.pricing-girl {
  width: 100% !important; }
