.navbar-inverse .navbar-brand img {
  width: 250px; }
  @media (max-width: 767px) {
    .navbar-inverse .navbar-brand img {
      width: 200px;
      margin-left: 15px; } }

#sandwich-content1 {
  padding-top: 0;
  padding-bottom: 25px; }
  @media (max-width: 767px) {
    #sandwich-content1 {
      padding-top: 0; } }
  #sandwich-content1 p.sandwich-headline {
    margin: 40px 0 40px 0; }
    @media (max-width: 767px) {
      #sandwich-content1 p.sandwich-headline {
        margin: 10px 0; } }
    @media (max-width: 767px) {
      #sandwich-content1 p.sandwich-headline span img {
        display: block;
        margin: auto; } }
    @media (max-width: 767px) {
      #sandwich-content1 p.sandwich-headline span#star {
        font-size: 26px !important;
        line-height: 36px;
        margin: 10px 0; } }
  #sandwich-content1 p.sandwich-headline2 {
    margin-bottom: 30px;
    line-height: 44px; }
    @media (max-width: 767px) {
      #sandwich-content1 p.sandwich-headline2 {
        font-size: 18px !important;
        line-height: 30px;
        margin: 10px 0; } }

.img-position {
  margin: 0 40px 0 0 !important; }

#sandwich-content2 {
  padding-top: 55px;
  padding-bottom: 10px; }
  @media (max-width: 767px) {
    #sandwich-content2 {
      padding-bottom: 30px; } }
  @media (max-width: 767px) {
    #sandwich-content2 {
      padding-top: 0; } }
  #sandwich-content2 p.sandwich-headline {
    margin-bottom: 70px; }
    @media (max-width: 767px) {
      #sandwich-content2 p.sandwich-headline {
        font-size: 26px !important;
        line-height: 36px;
        margin: 20px 0 0 0; } }
    @media (max-width: 767px) {
      #sandwich-content2 p.sandwich-headline span img {
        display: block;
        margin: auto;
        width: 20%;
        margin: 20px auto !important; } }
  #sandwich-content2 h4 {
    display: flex; }
    @media (max-width: 767px) {
      #sandwich-content2 h4 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; } }
    @media (max-width: 767px) {
      #sandwich-content2 h4 span img {
        margin-left: 50px; } }
    #sandwich-content2 h4 .flex-wrp {
      display: flex;
      font-size: 24px !important; }
      @media (max-width: 767px) {
        #sandwich-content2 h4 .flex-wrp {
          font-size: 18px !important; } }
      #sandwich-content2 h4 .flex-wrp i {
        font-size: 20px !important; }
        @media (max-width: 767px) {
          #sandwich-content2 h4 .flex-wrp i {
            font-size: 16px !important; } }
  #sandwich-content2 h3 {
    margin: 0;
    font-family: 'Gotham-Bold';
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    margin-top: -35px;
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      #sandwich-content2 h3 {
        margin: 10px 0;
        font-size: 18px !important;
        line-height: 30px;
        padding: 0; } }
  @media (max-width: 767px) {
    #sandwich-content2 .comment1 {
      margin-bottom: 40px; } }
  #sandwich-content2 .girl-comment {
    padding: 70px 0 30px;
    font-size: 24px !important; }
    @media (max-width: 767px) {
      #sandwich-content2 .girl-comment {
        padding: 0 0 30px 0; } }
    #sandwich-content2 .girl-comment h4 strong {
      font-size: 24px !important; }
      @media (max-width: 767px) {
        #sandwich-content2 .girl-comment h4 strong {
          font-size: 18px !important; } }
    #sandwich-content2 .girl-comment h4 i {
      font-size: 20px !important; }
      @media (max-width: 767px) {
        #sandwich-content2 .girl-comment h4 i {
          font-size: 16px !important; } }
  #sandwich-content2 .comment3 {
    margin-top: 50px; }
    @media (max-width: 767px) {
      #sandwich-content2 .comment3 {
        margin-top: 20px; } }
    @media (max-width: 767px) {
      #sandwich-content2 .comment3 h4 span img {
        margin: 30px auto !important; } }
    @media (max-width: 767px) {
      #sandwich-content2 .comment3 h4 .flex-wrp strong {
        font-size: 18px !important; } }
    @media (max-width: 767px) {
      #sandwich-content2 .comment3 h4 .flex-wrp i {
        font-size: 16px !important; } }
  @media (max-width: 767px) {
    #sandwich-content2 .lane-w {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center; } }

#sandwich-content3 {
  padding-top: 35px;
  padding-bottom: 25px; }
  @media (max-width: 767px) {
    #sandwich-content3 {
      padding-top: 10px;
      padding-bottom: 10px; } }
  #sandwich-content3 .content-btn {
    margin: 20px 0;
    padding: 15px 0;
    border-radius: 50px; }
    @media (max-width: 767px) {
      #sandwich-content3 .content-btn {
        margin: 20px 10px; } }
    #sandwich-content3 .content-btn h2 {
      font-size: 36px; }
      @media (max-width: 767px) {
        #sandwich-content3 .content-btn h2 {
          font-size: 15px;
          margin: 0; } }
      @media (max-width: 767px) {
        #sandwich-content3 .content-btn h2 span img {
          width: 20px; } }

@media (max-width: 767px) {
  footer #sandwich-footer h4.text-center a {
    font-size: 15px !important; } }
