.navbar-inverse .navbar-brand img {
  width: 250px; }
  @media (max-width: 767px) {
    .navbar-inverse .navbar-brand img {
      width: 200px;
      margin-left: 15px; } }

nav {
  margin-bottom: 0 !important; }

#abtesting-content1 {
  padding-top: 80px;
  padding-bottom: 45px;
  margin-top: 0; }
  @media (max-width: 767px) {
    #abtesting-content1 {
      padding-top: 20px !important;
      padding-bottom: 20px; } }
  #abtesting-content1 .testing-title {
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      #abtesting-content1 .testing-title {
        margin-bottom: 20px; } }
    #abtesting-content1 .testing-title p.abtesting-headline {
      margin: 0;
      line-height: 54px; }
      @media (max-width: 767px) {
        #abtesting-content1 .testing-title p.abtesting-headline {
          font-size: 26px !important;
          line-height: 36px; } }
  #abtesting-content1 .free-space {
    width: 100%;
    height: 1px;
    margin-top: 10px; }
    @media (max-width: 767px) {
      #abtesting-content1 .free-space {
        margin-top: 0; } }
  @media (max-width: 767px) {
    #abtesting-content1 {
      padding-top: 0; } }
  #abtesting-content1 h3 {
    margin: 0 0 34px 0;
    font-size: 25px;
    line-height: 35px; }
    @media (max-width: 767px) {
      #abtesting-content1 h3 {
        font-size: 19px;
        margin-top: 15px;
        margin-bottom: 20px;
        padding-left: 0px !important;
        padding-right: 0px !important; } }
  #abtesting-content1 .video-poster {
    margin: 75px 0 50px 0; }
    @media (max-width: 767px) {
      #abtesting-content1 .video-poster {
        box-shadow: 3px 0px 8px 4px #666;
        margin: 30px 0; } }
  #abtesting-content1 .content-btn {
    margin: 25px 0 35px 0; }
    @media (max-width: 767px) {
      #abtesting-content1 .content-btn {
        margin-top: 10px; } }
  @media (max-width: 767px) {
    #abtesting-content1 .color-bg-violet {
      margin-bottom: 30px; } }
  #abtesting-content1 .color-bg-violet h2 {
    font-size: 35px !important;
    font-weight: 400; }
    @media (max-width: 767px) {
      #abtesting-content1 .color-bg-violet h2 {
        margin: 5px 10px 10px 10px;
        font-size: 14px !important;
        display: flex;
        align-items: center;
        padding: 5px; } }
    @media (max-width: 1214px) {
      #abtesting-content1 .color-bg-violet h2 span {
        padding-right: 10px; } }
    @media (min-width: 768px) {
      #abtesting-content1 .color-bg-violet h2 span {
        padding-right: 0; } }

#myModal .modal-dialog .modal-content {
  background-color: transparent;
  border: 0; }
  @media (min-width: 768px) {
    #myModal .modal-dialog .modal-content {
      -webkit-box-shadow: none;
      box-shadow: none; } }
  #myModal .modal-dialog .modal-content .modal-header {
    position: relative;
    border-bottom: 1px solid transparent; }
    #myModal .modal-dialog .modal-content .modal-header .close {
      position: absolute;
      right: 70px;
      top: 23px;
      float: none;
      color: #ffffff;
      opacity: .8;
      z-index: 1; }
  #myModal .modal-dialog .modal-content .modal-footer {
    border-top: 1px solid transparent; }

#abtesting-content2 {
  padding-top: 70px;
  padding-bottom: 60px; }
  @media (max-width: 768px) {
    #abtesting-content2 {
      padding-top: 30px;
      padding-bottom: 0; } }
  #abtesting-content2 p.abtesting-headline {
    font-size: 46px !important;
    color: #444a54;
    font-weight: 500; }
    @media (max-width: 768px) {
      #abtesting-content2 p.abtesting-headline {
        font-size: 26px !important;
        line-height: 36px;
        margin-bottom: 30px; } }
    #abtesting-content2 p.abtesting-headline span {
      padding-right: 40px; }
      #abtesting-content2 p.abtesting-headline span #features-img {
        width: 80px; }
        @media (max-width: 768px) {
          #abtesting-content2 p.abtesting-headline span #features-img {
            width: 40px !important; } }
  #abtesting-content2 .testing-property {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px 0; }
    @media (max-width: 768px) {
      #abtesting-content2 .testing-property {
        padding-top: 0px; } }
    #abtesting-content2 .testing-property img {
      width: auto;
      height: 90px;
      margin: 0 auto 20px auto !important; }
    #abtesting-content2 .testing-property h4 {
      font-size: 21px;
      margin: 0 0 5px 0; }
  #abtesting-content2 .border-bottom .testing-property {
    padding: 40px 0 10px; }
    @media (max-width: 768px) {
      #abtesting-content2 .border-bottom .testing-property {
        margin-bottom: 20px;
        padding: 0; } }
  #abtesting-content2 .border-line-bottom {
    border-bottom: 1px solid #979797 !important; }
    @media (max-width: 768px) {
      #abtesting-content2 .border-line-bottom {
        border: none !important; } }

#abtesting-content3 {
  padding-bottom: 30px; }
  @media (max-width: 767px) {
    #abtesting-content3 {
      padding-bottom: 0; } }
  #abtesting-content3 p.abtesting-headline {
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      #abtesting-content3 p.abtesting-headline {
        margin-bottom: 0;
        font-size: 26px !important;
        line-height: 36px; } }
    @media (max-width: 767px) {
      #abtesting-content3 p.abtesting-headline span img {
        width: 50px; } }
  @media (max-width: 767px) {
    #abtesting-content3 ul {
      padding: 20px; } }
  #abtesting-content3 ul li h3 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 35px; }
    @media (max-width: 767px) {
      #abtesting-content3 ul li h3 {
        font-size: 19px;
        line-height: 35px;
        margin-bottom: 20px; } }

#abtesting-content7 {
  padding-top: 60px;
  padding-bottom: 55px; }
  @media (max-width: 767px) {
    #abtesting-content7 {
      padding-top: 20px;
      padding-bottom: 35px; } }
  #abtesting-content7 h1.text-center {
    font-size: 46px;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      #abtesting-content7 h1.text-center {
        font-size: 26px !important;
        line-height: 36px;
        margin-bottom: 20px; } }
  @media (max-width: 767px) {
    #abtesting-content7 .owl-carousel .owl-prev {
      margin: 5px 5px 5px 0;
      padding: 4px 7px 4px; } }
  @media (max-width: 767px) {
    #abtesting-content7 .owl-carousel .owl-next {
      margin: 5px 0 5px 5px;
      padding: 4px 0 4px 7px; } }
  @media (max-width: 767px) {
    #abtesting-content7 .owl-carousel .item p img {
      width: 60px; } }
  #abtesting-content7 .owl-carousel .item h2.text-center {
    font-family: 'Gotham-Bold';
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 45px; }
    @media (max-width: 767px) {
      #abtesting-content7 .owl-carousel .item h2.text-center {
        font-size: 19px;
        line-height: 26px;
        margin-bottom: 20px; } }
  @media (max-width: 767px) {
    #abtesting-content7 .owl-carousel .item .cecilia p img {
      width: 50px; } }
  #abtesting-content7 .owl-carousel .item .cecilia h4.text-center {
    font-family: 'Raleway-SemiBold';
    font-size: 24px;
    margin-bottom: 5px; }
    @media (max-width: 767px) {
      #abtesting-content7 .owl-carousel .item .cecilia h4.text-center {
        font-size: 16px !important; } }
  #abtesting-content7 .owl-carousel .item .cecilia h5.text-center {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 55px; }
    @media (max-width: 767px) {
      #abtesting-content7 .owl-carousel .item .cecilia h5.text-center {
        font-size: 14px !important;
        margin-bottom: 20px; } }
  #abtesting-content7 .content-btn {
    padding: 19px 0; }
    @media (max-width: 767px) {
      #abtesting-content7 .content-btn {
        padding: 6px 0; } }
    #abtesting-content7 .content-btn h2 {
      font-size: 36px; }
      @media (max-width: 767px) {
        #abtesting-content7 .content-btn h2 {
          font-size: 15px !important; } }
      @media (max-width: 767px) {
        #abtesting-content7 .content-btn h2 span {
          padding-right: 0; } }
      @media (max-width: 767px) {
        #abtesting-content7 .content-btn h2 span img {
          width: 25px; } }
  #abtesting-content7 .fa {
    font-size: 100px;
    color: #a9a9a9; }
    @media (max-width: 767px) {
      #abtesting-content7 .fa {
        font-size: 50px; } }

#abtesting-content5 {
  padding-top: 50px;
  padding-bottom: 65px;
  box-shadow: 0px 1px 7px 3px #bbb;
  margin-bottom: 15px; }
  @media (max-width: 767px) {
    #abtesting-content5 {
      padding-top: 0;
      padding-bottom: 30px;
      margin-bottom: 10px; } }
  #abtesting-content5 h1.text-center {
    font-size: 46px;
    line-height: 54px;
    margin-bottom: 50px; }
    @media (max-width: 767px) {
      #abtesting-content5 h1.text-center {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 20px; } }
  #abtesting-content5 a:hover {
    text-decoration: none; }
  #abtesting-content5 a .content-img-holder {
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px; }
    #abtesting-content5 a .content-img-holder:active {
      top: 5px; }
    #abtesting-content5 a .content-img-holder:hover {
      box-shadow: 2px 0px 3px #979797;
      z-index: 2;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1.05);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1.05);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1.05);
      transition: all 200ms ease-in;
      transform: scale(1.05); }
    @media (max-width: 767px) {
      #abtesting-content5 a .content-img-holder {
        justify-content: center;
        height: 150px;
        padding-top: 20px;
        padding-bottom: 0; } }
    #abtesting-content5 a .content-img-holder img {
      width: 180px;
      height: auto;
      margin-bottom: 20px; }
      @media (max-width: 767px) {
        #abtesting-content5 a .content-img-holder img {
          width: auto;
          height: 60px;
          margin-bottom: 10px; } }
    #abtesting-content5 a .content-img-holder p {
      font-size: 26px;
      line-height: 33px; }
      @media (max-width: 767px) {
        #abtesting-content5 a .content-img-holder p {
          font-size: 18px !important;
          line-height: 23px; } }
  #abtesting-content5 .free-space {
    width: 100%;
    height: 1px;
    margin-top: 30px; }
    @media (max-width: 767px) {
      #abtesting-content5 .free-space {
        margin-top: 10px; } }
  @media (max-width: 767px) {
    #abtesting-content5 .content-btn {
      font-size: 11px; } }

#abtesting-footer {
  padding: 0; }
  #abtesting-footer .footer-wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    #abtesting-footer .footer-wrapper .footer-menu {
      width: 53%; }
      @media (max-width: 767px) {
        #abtesting-footer .footer-wrapper .footer-menu {
          width: 100%; } }
      #abtesting-footer .footer-wrapper .footer-menu ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 0; }
        @media (max-width: 767px) {
          #abtesting-footer .footer-wrapper .footer-menu ul {
            width: 100%;
            justify-content: space-around; } }
        #abtesting-footer .footer-wrapper .footer-menu ul li {
          margin-top: 10px; }
          #abtesting-footer .footer-wrapper .footer-menu ul li a {
            color: #000000;
            text-decoration: none;
            font-size: 22px;
            line-height: 27px; }
            @media (max-width: 767px) {
              #abtesting-footer .footer-wrapper .footer-menu ul li a {
                font-size: 12px; } }
    #abtesting-footer .footer-wrapper .footer-social {
      display: flex;
      width: 25%;
      justify-content: space-between; }
      @media (max-width: 767px) {
        #abtesting-footer .footer-wrapper .footer-social {
          width: 100%;
          justify-content: space-around; } }
      #abtesting-footer .footer-wrapper .footer-social img {
        width: 40px;
        height: 40px;
        margin-bottom: 20px; }
        @media (max-width: 1214px) {
          #abtesting-footer .footer-wrapper .footer-social img {
            margin-bottom: 20px; } }
        @media (min-width: 768px) {
          #abtesting-footer .footer-wrapper .footer-social img {
            margin-bottom: 0; } }
